%svg-common {
	background: url("../img/svg/sprite-8a2e20ce.svg") no-repeat;
}

.svg__noun_839197_cc {
	@extend %svg-common;
	background-position: 0 0;
	width: 100px;
	height: 125px;
}

.svg__noun_839200_cc {
	@extend %svg-common;
	background-position: 0 100%;
	width: 100px;
	height: 125px;
}

