/*@import var and mixin*/

/*colors*/
$accent: #7fbd42;
/*$accent: #f3b81a;*/
$myDark: #181b1f;
$myGray: #585b5f;
$myLight: #c0c6cc;



.container{
	max-width: 1170px;
	min-width: 320px;
	margin: 0 auto;
}




/*==================================================*/
/*labels*/
/*==================================================*/
.now{
	position: relative;
	&:after{
		content: "now";
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		font-size: 12px;
		/*background: #f0ad4e;*/
		background: $accent;
		color: black;
		right: -10px;
		top: -10px;
		padding: 1px 3px;
		border-radius: 8px;
		border: 1px solid $myGray;
	}
}

.education{
	position: relative;
	overflow: hidden;
	&:after{
		content: "education";
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		font-size: 14px;
		background: #337ab7;
		transform: rotate(45deg);
		color: black;
		right: -50px;
		top: 20px;
		padding: 5px 50px;
		border-radius: 2px;
		color: $myLight;
	}
}



/*==================================================*/
/*animation*/
/*==================================================*/
@keyframes spin{
	0% { transform:rotate(0deg) scale(1.3)} 
	42.85714% { transform:rotate(359deg) scale(1.3)} 
	100% { transform:rotate(359deg) scale(1.3)}
}

@keyframes tada{
 0% { transform:translate(0,0) } 
 6.97675% { transform:translate(5px,0) } 
 13.95349% { transform:translate(0,0) } 
 20.93023% { transform:translate(5px,0) } 
 27.90698% { transform:translate(0,0) } 
 34.88372% { transform:translate(5px,0) } 
 41.86047% { transform:translate(0,0) } 
 100% { transform:translate(0,0) }
}

